@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// fonts

$PoppinsRegular: "Poppins", Arial, sans-serif;
$PoppinsSemiBold: "Poppins", Arial, sans-serif;
$PoppinsMedium: "Poppins", Arial, sans-serif;
$PoppinsBold: "Poppins", Arial, sans-serif;

// colors
$teal: #01c5c4;
$dark: #063940;
$light: #e2f2f2;
$gradient: linear-gradient(
  90deg,
  rgba(60, 184, 183, 0.37718837535014005) 42%,
  rgba(6, 57, 64, 0.6292892156862745) 61%
);
