@use '../abstracts/variables.scss' as variables;

.container {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --font-family: variables.$PoppinsRegular;
  --font-size: 1rem;
  --weight-light: 300;
  --weight-medium: 500;
  --weight-bold: 700;

  min-height: 100%;
  font-family: variables.$PoppinsRegular;
  font-size: var(--font-size);
  font-weight: var(--weight-medium);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2rem 2.3rem;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 28.5rem;
}

.slider {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slider_buttons {
  position: absolute;
  top: calc(100% - 3.2rem - 2.85rem);
  left: calc(50% - 2.85rem);
  background-color: transparent;
  

  > button {
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: 2rem;

    svg {
      color: #01c5c4;
      width: 3rem;
      height: 2rem;
    }

    &:focus {
      outline: none;
    }

    &:first-of-type {
      border-top-left-radius: 1.6rem;
      border-bottom-left-radius: 1.6rem;
    }

    &:last-of-type {
      border-top-right-radius: 1.6rem;
      border-bottom-right-radius: 1.6rem;
    }
  }
}

.testimonial {
  padding-top: 2.5rem;
  text-align: center;

  > * + * {
    margin-top: 2rem;
  }
}

.testimonial_content {
  font-size: min(3.8vw, 2rem);
  font-weight: var(--weight-light);
  line-height: min(6.4vw, 3.2rem);
  padding: 2.5rem 0.4rem 0 0.4rem;
  margin-top: -2.5rem;
  color: var(--dark-blue);
  background-position: top center;
  background-size: 6rem;
}

.testimonial_author {
  > * + * {
    margin-top: 0.4rem;
  }

  &_name {
    font-size: min(4vw, 2rem);
    font-weight: var(--weight-bold);
    color: var(--dark-blue);
  }

  &_job {
    font-size: min(4vw, 2rem);
    font-weight: var(--weight-medium);
    color: var(--grayish-blue);
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .container {
    background-size: 61rem;
  }

  .testimonial_container {
    display: flex;
    flex-direction: row-reverse;
  }

  .slider {
    width: 53%;
  }

  .slider_buttons {
    top: calc(100% - 7.2rem - 3.15rem);
    left: calc(25% - 2.85rem);
  }
}
