@use "../abstracts/variables.scss" as variables;
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        accent-color: variables.$teal;
         transition: all 0.3s ease-in-out;

}

.app{
        display: grid;
        gap: 10px;
}
.css-187mznn-MuiSlider-root{
        color: #01C5C4 !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root .css-1hwfws3-MuiOutlinedInput-input{
        color: #01C5C4 !important;
}
.contact{
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        height : 100%;
        display: grid;
        place-items: center;
        padding: 20px;


        

        h2{
                font-family: variables.$PoppinsBold;
                color: variables.$dark;
                font-size: 2.5rem;
                text-align: center;


        }
}

.loan__cards{
         display: grid;
  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.tabe__data{
        height: 200px;
        width: 100%;
}
.table_con{
        height: 100%;
        width: 100%;
        border: 1px solid #eee;
}
.profile{
        height: 100%;
        width: 100%;
}
.table{
        height: 100%;
        padding: 20px 0;

        h6{
                font-family: variables.$PoppinsBold;
                color: variables.$dark;
                font-size: 1.5rem;
                text-align: center;
        }
}

.policy{
        max-width: 1250px;
        margin: 0 auto;
        width: 100%;
        height : 100%;
        display: grid;
       
        padding: 20px;
        font-family: variables.$PoppinsRegular;

        p{
                padding: 10px 0;
        }
}

.terms__link{
        color: #000;

        span{
                color: #01C5C4;
        }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;

        @media (max-width: 769px){
                right: 15px;
        }
}

.my-float{
	
        color: white;

        width: 100%;
        height: 100%;
        display: grid;
        font-size: 4rem;
        place-items: center;

        svg{
                color: white;
                font-size: 3.7rem;
        }


}

